<div class="modal fade addSP" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <H5>Thêm mới sản phẩm</H5>
            </div>
            <div class="modal-body">
                <input type="text" />
            </div>
        </div>
    </div>
</div>
