

<div id="addTacGia" class="row d-none">
    <div class="col-md-3">
        <div class="form-group">
            <label for="exampleInputEmail1">Tên tác giả</label>
            <input type="text" class="form-control" name="tenTacGia" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="exampleInputEmail1">Giới tính</label>
            <select class="form-control" name="gioiTinh">
                <option value="0">Chọn...</option>
                <option value="1">Nam</option>
                <option value="2">Nữ</option>
                <option value="3">Khác</option>
            </select>
        </div>
    </div><div class="col-md-3">
        <div class="form-group">
            <label for="exampleInputEmail1">Ngày sinh</label>
            <input type="date" class="form-control" name="ngaySinh" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="exampleInputEmail1">Địa chỉ</label>
            <input type="text" class="form-control" name="diaChi"/>
        </div>
    </div>
</div>
