

<div id="addNhaXuatBan" class="row d-none">
    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInputEmail1">Tên nhà xuất bản</label>
            <input type="text" class="form-control" name="tenNhaXuatBan" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInputEmail1">Địa chỉ</label>
            <input type="text" class="form-control" name="diaChi" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInputEmail1">Số điện thoại</label>
            <input type="text" class="form-control" name="soDienThoai" />
        </div>
    </div>
</div>
