
@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    Models.DanhMuc danhMuc = ViewBag.DanhMuc;
    int dm = 2;
    if(danhMuc.TinhTrang == "Hoạt động")
    {
        dm = 1;
    }
}

<main class="app-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên danh mục</label>
                    <input type="text" class="form-control" name="tenDanhMuc" value="@danhMuc.TenDM" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Ngày tạo</label>
                    <input type="date" class="form-control" name="ngayTao" id="ngayTao" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Tình trạng</label>
                    <select class="form-control" name="tinhTrang">
                        <option value="1">Hoạt động</option>
                        <option value="2">Dừng hoạt động</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" name="chinhSua">Lưu lại</button>
                <a href="/Administrator/DanhMuc/Index" type="button" class="btn btn-dark" name="troVe">Back</a>
            </div>
        </div>
    </div>
</main>
<input type="hidden" name="maDanhMuc" value="@danhMuc.MaDM" />

@section scripts{
    <script>
        $('#ngayTao').val("@danhMuc.NgayTao.ToString("yyyy-MM-dd")");
        $('[name="tinhTrang"]').val(@dm);

        @*validate sửa tác giả*@
        function validationEditDanhMuc() {
            if ($('[name="tenDanhMuc"]').val() == "") {
                $('[name="tenDanhMuc"]').css('border-color', 'red');
                return false;
            }
            if ($('#ngayTao').val() == "") {
                $('#ngayTao').css('border-color', 'red');
                return false;
            }
            if ($('[name="tinhTrang"]').val() == "") {
                $('[name="tinhTrang"]').css('border-color', 'red');
                return false;
            }
            return true;
        }
        $('[name="tenDanhMuc"]').keyup(function () {
            $('[name="tenDanhMuc"]').css("border-color", "rgba(85, 85, 85, 0.3)");
        });
        $('[name="ngayTao"]').change(function () {
            $('[name="ngayTao"]').css("border-color", "rgba(85, 85, 85, 0.3)");
        });
        $('[name="tinhTrang"]').change(function () {
            $('[name="tinhTrang"]').css("border-color", "rgba(85, 85, 85, 0.3)");
        });
        //Sửa
        $('[name="chinhSua"]').click(function () {
            if (!validationEditDanhMuc())
                return false
            else {
                var data = {
                    maDanhMuc: $('[name="maDanhMuc"]').val(),
                    tenDanhMuc: $('[name="tenDanhMuc"]').val(),
                    ngayTao: $('#ngayTao').val(),
                    tinhTrang: $('[name="tinhTrang"]').val()
                };
                $.ajax({
                    url: "/DanhMuc/ChinhSua",
                    type: 'POST',
                    dataType: "json",
                    data: data,
                    success: function (result) {
                        if (result.Status) {
                            window.location.href = "/Administrator/DanhMuc/Index";
                        } else {
                            alert("Trùng tên");
                        }
                    }
                });
            }
        });
    </script>
}

