<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="es5-shim" version="2.0.5" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="RxJS-Binding" version="2.0.20921" targetFramework="net452" />
  <package id="RxJS-Main" version="2.0.20921" targetFramework="net452" />
  <package id="RxJS-Time" version="2.0.20921" targetFramework="net452" />
  <package id="scalejs" version="0.2.6" targetFramework="net452" />
  <package id="scalejs.linq-linqjs" version="3.0.3" targetFramework="net452" />
  <package id="scalejs.reactive" version="0.1.0" targetFramework="net452" />
  <package id="scalejs.routing-historyjs" version="1.8.2.8" targetFramework="net452" />
  <package id="scalejs.statechart-scion" version="0.2.1.15" targetFramework="net452" />
</packages>